body {
  background: url("../header.jpg");
}

#title {
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(53, 57, 66, 0.5);
}

h1 {
  font-weight: normal;
}

h4 {
  color: #353942;
  text-align: center;
}

#info-message {
  padding-top: 10px;
  padding-bottom: 10px;
}

#status-message {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

#image-panel {
  margin-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 5px;
  padding-top: 5px;
}

#data-panel {
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
}

#person-name {
  text-align: center;
  color: white;
  background-color: #353942;
  font-family: sans-serif;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#details-title {
  text-align: center;
  color: white;
  background-color: #353942;
  font-family: sans-serif;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#details {
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#selected-image {
  display: block;
  margin: auto;
  padding: auto;
}

#celeb-image {
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

input#file-list {
  display: none;
}

.btn {
  background-color: #353942;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#button-label {
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-wrapper {
  text-align: center;
  padding: 5px;
}
